html {
    scroll-behavior: smooth;
}

/* MINIMUM RESOLUTION - 558px */

body {
    background-color: rgb(180, 240, 255)
}

.wrapper {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 80%;
    border: 2px solid;
    transition: ease all .5s;
}

header {
    display: flex;
}

.header_logo {
    width: 90%;
    display: flex;
}

.headImg {
    height: 200px;
}

.heading {
    font-size: 20px;
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inp {
    margin-bottom: 14px;
}

.srchImg {
    border-radius: 10px;
    border: 1px solid;
}

.srchImg {
    width: 20px;
}

.search {
    display: flex;
    /* text-align: right; */
    padding-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:900;
    font-size: 22px;
    padding-right: 40px
}

nav {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

nav ul {
    display: contents;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

nav ul li {
    margin: 0 auto;
    justify-content: space-between;
    width: 18%;
    font-size: 18px;
    background-color: rgb(0, 102, 255);
    list-style: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight: 800;
    padding: 5px 20px;
    border: 3px solid rgb(38, 0, 253);
    transition: ease all .5s;
}

img {
    width: 250px;
    height: 150px;
    transition: ease all .5s;
}

h2 {
    text-align: center;
}

article {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    flex-grow: 1;
}

.Imgs {
    margin: 0 auto;
}

.main-part {
    display: flex;
    text-align: justify;
}

.info {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(78, 205, 255);
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    padding: 4px 0px;
    border: 3px dashed blue;
}

.gallery {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 35px;
}

.gallery-images {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
}

.gallery-heading {
    width: 100%;
    text-align: center;
}

.gallery-img {
    width: auto;
    border: 5px outset lightblue;
    margin: 0 auto;
    /* height: 250px; */
    padding: 20px;
}

p {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    font-size: 22px;
    color: white;
    flex-flow: row nowrap;
}

.container {
    width: 33.333%;
    text-align: center;
    background-color: rgb(0, 4, 255);
    color: white;
}



@media (max-width: 1483px) and (min-width: 1221px) {

    .wrapper {
        width: 95%;
        transition: ease all .5s;
    }

    
    img {
        width: 200px;
        height: 110px;
        transition: ease all .5s;
    }
    
    nav ul li {
        width: 18%;
        font-size: 16px;
        transition: ease all .5s;
    }
    
    .info {
        font-size: 18px;
        padding: 2px 0;
        border: 2px dashed blue;
    }
    
}



@media (max-width: 1220px) and (min-width: 1045px){
    
    .wrapper {
        width: 85%;
    }

    .main-part {
        flex-wrap: wrap;
    }
    
    h2 {
        align-self: center;
    }

    img {
        width: 100%;
        height: 180px;
        transition: ease all .5s;
    }
    
    .heading {
        font-size: 20px;
        transition: ease all .5s;
    }

    article {
        align-items: flex-start;
        width: 350px;
    }
    
    nav ul {
        display: contents;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    nav ul li {
        margin: 5px auto;
        font-size: 14px;
        width: 25%;
        vertical-align: middle;
    }

    footer {
        font-size: 20px;
        transition: ease all .5s;
    }

}



@media (max-width: 1044px) and (min-width: 948px) {

    .wrapper {
        width: 95%;
    }

    .main-part {
        flex-wrap: wrap;
    }

    .heading {
        margin-right: 40px;
        transition: ease all .5s;
    }

    img {
        width: 100%;
        height: 180px;
        transition: ease all .5s;
    }

    nav ul {
        display: contents;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    nav ul li {
        margin: 5px auto;
        font-size: 14px;
        width: 30%;
        vertical-align: middle;
    }

    footer {
        font-size: 18px;
        transition: ease all .5s;
    }

}



@media (max-width: 947px) and (min-width: 751px) {

    .wrapper {
        width: 95%;
    }

    .main-part {
        flex-wrap: wrap;
        transition: ease all .5s;
    }

    img {
        width: 100%;
        height: 180px;
        transition: ease all .5s;
    }

    .heading {
        margin-right: 40px;
        transition: ease all .5s;
    }

    nav ul {
        display: contents;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    nav ul li {
        margin: 5px auto;
        font-size: 14px;
        width: 30%;
        vertical-align: middle;
    }

    footer {
        font-size: 16px;
        transition: ease all .5s;
    }

}


@media (max-width: 750px) and (min-width: 558px) {

    .wrapper {
        width: 95%;
    }

    .main-part {
        flex-wrap: wrap;
        transition: ease all .5s;
    }

    .header_logo {
        width: 100%;
    }

    img {
        width: 100%;
        height: 150px;
        transition: ease all .5s;
    }

    .heading {
        width: 100%;
        transition: ease all .5s;
    }
    
    nav ul {
        display: contents;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    nav ul li {
        margin: 5px auto;
        font-size: 14px;
        width: 40%;
    }

    footer {
        font-size: 12px;
        transition: ease all .5s;
    }

    .header_logo {
        width: 100%;
        transition: ease all .5s;
    }
    
    .logo {
        width: 100%;
        height: 200px;
    }

    .headImg {
        transition: ease all .5s;
        width: 250px;
        height: 200px;
    }

    .search {
        display: none;
        transition: ease all .5s;
    }
    
    .header_search {
        height: 200px;
    }

}