html {
    scroll-behavior: smooth;
}

body {
    background-color: brown
}

.wrapper {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 1380px;
}

header {
    display: flex;
    background-color: yellow;
}

.header_logo {
    width: 90%;
}

.headImg {
    width: 25%;
}

.heading {
    display: flex;
}

.header_search {
    width: 10%;
    display: flex;

}

.search {
    display: flex;
    align-items: flex-end;
    text-align: right;
}

nav {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

nav ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    
}

nav ul li {
    margin: 0 auto;
    width: 15%;
    font-size: 18px;
    background-color: yellow;
    list-style: none;
    text-align: center;
    border-radius: 10px;
}

img {
    width: 650px;
    height: 150px;
}

h2 {
    text-align: center;
}

article {
    margin: 0 auto;
    width: 22%;
    display: inline;
    align-items: center;
    align-self: flex-start;
    height: 720px;
    border: 2px dotted;
}

.Imgs {
    display: flex;
    /* width: 18%; */
    flex-flow: row nowrap;
    margin: 0 auto;
    /* margin-left: 30%; */
}

main {
    /* width: 90%; */
    display: flex;
    flex-flow: row nowrap;
    
    text-align: justify;
}


footer {
    width: 100%;
    display: flex;
    font-size: 22px;
    color: white;
    flex-flow: row nowrap;
}

.container {
    width: 33.333%;
    text-align: center;
    background-color: red
}

.info {
    /* height: 50px */
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(78, 205, 255);
    align-self: flex-end;
    text-align: center
}